ЗАДАЧА 1

In [4]:
import os
import pandas as pd
DATA_DIR = "D:\\Netology\\Python\\works\\4.1\\names\\"

def count_top3(years):
    file_list = list(map(lambda year: f'{DATA_DIR}yob{str(year).strip()}.txt', years))
    list_ = []
    for file in file_list:
        if not os.path.exists(file):
            continue
        data = pd.read_csv(file, names=['Name', 'Gender', 'Count'], index_col=None)
        list_.append(data)
    
    
    dframe = pd.concat(list_).groupby('Name').sum().sort_values(by='Count', ascending=False).reset_index()
    return list(dframe.head(3)['Name'])

In [5]:
count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [6]:
count_top3([1880])

['John', 'William', 'Mary']

ЗАДАЧА 2

In [8]:
def count_dynamics(years):
    file_list = list(map(lambda year: f'{DATA_DIR}yob{str(year).strip()}.txt', years))
    list_ = []
    for idx, file in enumerate(file_list):
        if not os.path.exists(file):
            continue
        list_.append(pd.read_csv(file, names=['Name', 'Gender', 'Count']))
        list_[idx]['Year'] = years[idx]
        list_[idx]
        
    frame = pd.concat(list_).groupby(['Gender', 'Year']).sum().reset_index()
    
    return (frame)

In [9]:
count_dynamics([1900, 1950, 2000])

  Gender  Year    Count
0      F  1900   299800
1      F  1950  1713151
2      F  2000  1815110
3      M  1900   150483
4      M  1950  1790549
5      M  2000  1962969